
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import url(normalize.css);
:root{
    --clr-soft-orange: hsl(35, 77%, 62%);
    --clr-soft-red: hsl(5, 85%, 63%);

    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);
    --clr-white: hsl(0, 0%, 100%);

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --clr-title-text: var(--clr-very-dark-blue);
    --clr-title-invert: var(--clr-off-white);
    --clr-general-text: var(--clr-very-dark-blue);
    --clr-main-bg: var(--clr-off-white);
    --clr-aside-bg: var(--clr-very-dark-blue);
    --general-accent:var(--clr-soft-red);
    --clr-aside-accent:var(--clr-soft-orange);
}


*, 
*::before, 
*::after{
    transition: all .25s ease-in-out;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
/*layout basics*/

body{
  font-family: 'Inter', sans-serif; 
  color: var(--clr-general-text);
  font-size: 15px;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  background-color: var(--clr-main-bg)
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a{
  text-decoration: none;
}
.btn{
  color: var(--clr-off-white);
  display: inline-block;
  line-height: 1;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 2rem;
  background-color: var(--clr-soft-red);
}
.btn:hover{
  color:var(--clr-off-white);
  background-color: var(--clr-very-dark-blue);
}

/*Navigation bar*/
.navbar-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-main-bg);
}
.navbar-logo{
  height: 2rem;
}
img.logo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  padding: .75rem 0;
}
.navbar-toggle{
  display: block;
  width: 2rem;
  height: 2rem;
  background: url('/assets/images/icon-menu.svg') no-repeat;
  background-position: center;
  transition: 0;  
}
.navbar-toggle.active{
  background: url('/assets/images/icon-menu-close.svg') no-repeat;

}

.navbar-menu{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 5rem;
  right: -100%;
  width: 80%;
  height: calc(100vh - 5rem);
}

.navbar-menu.active{
  visibility: visible;
  opacity: 1;
  right: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--clr-main-bg);
  box-shadow: 0 -5px 5px rgba(0, 0, 0, .15);
  z-index: 100;
  }

.navbar-item{
  list-style: none;
}
.navbar-link{
  font-size: 1rem;
  color: var(--clr-general-text);
}
.navbar-link:hover{
  color: var(--general-accent);
  text-decoration: underline;
}



/*Main content*/


/*Aside content*/


/*footer*/





img{
  max-width: 100%;
}


  @media (min-width: 768px) {
    .container {
      width: 750px;
    }

    .navbar-toggle{
      display: none;
    }

    .navbar-menu {
      position: relative;
      top: 0;
      right: 0;
      display: flex;
      gap: 1.25rem;
      visibility: visible;
      opacity: 1;
      width: 100%;
      height: auto;
      }

      .gridlayout{
        width: 100%;
        margin-top: 6rem;
        display: grid;
        gap: 2rem;
        grid-template:  "main main aside" auto
                        "main main aside" auto
                        "relevant relevant relevant" auto
                        /1fr 1fr 1fr;
      }
      main{
        grid-area: main;
      }
      .featured{
        display: grid;
        gap: 2.5rem;
        grid-template: "img img" 50%
                        "title text" 50% /1fr 1fr;
      }
      .featured img{
        grid-area: img;
      }
      .featured h1{
        font-size: 3rem;
        line-height: 1;
        font-weight: var(--fw-extra-bold);
        grid-area: title;
      }

      .featured .featured-text{
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      aside{
        grid-area: aside;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .relevant-posts{
        margin-top: 2rem;
        grid-area: relevant;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);

      }


  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }

  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }

  }