
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import url(normalize.css);
:root{
    --clr-soft-orange: hsl(35, 77%, 62%);
    --clr-soft-red: hsl(5, 85%, 63%);

    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);
    --clr-white: hsl(0, 0%, 100%);

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --clr-title-text: var(--clr-very-dark-blue);
    --clr-title-invert: var(--clr-off-white);
    --clr-general-text: var(--clr-very-dark-blue);
    --clr-main-bg: var(--clr-off-white);
    --clr-aside-bg: var(--clr-very-dark-blue);
    --general-accent:var(--clr-soft-red);
    --clr-aside-accent:var(--clr-soft-orange);
}


*, 
*::before, 
*::after{
    transition: all .25s ease-in-out;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
/*layout basics*/

body{
  font-family: 'Inter', sans-serif; 
  color: var(--clr-general-text);
  font-size: 15px;
  background-color: var(--clr-main-bg)
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.gridlayout{
  width: 100%;
  margin-top: 5rem;
  --display: grid;
}

a{
  text-decoration: none;
}

/*Navigation bar*/
.navbar-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-main-bg);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .05) ;
  overflow: hidden;
}
.navbar-logo{
  height: 2rem;
}
img.logo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: .75rem 0;
}

ul {
display: flex;
gap: 1.25rem;
}
.navbar-item{
  list-style: none;
}
.navbar-link{
  font-size: 1rem;
  color: var(--clr-general-text);
}
.navbar-link:hover{
  color: var(--general-accent);
  text-decoration: underline;
}

.navbar-toggle{
  display: none;
}

/*Main content*/


/*Aside content*/


/*footer*/





img{
  max-width: 100%;
}


  @media (min-width: 768px) {
    .container {
      width: 750px;
    }


  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }

  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }

  }