@import "normalize.css";
*,
*::before,
*::after {
  transition: all 0.25s ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: hsl(236deg, 13%, 42%);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  background-color: hsl(36deg, 100%, 99%);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  color: hsl(36deg, 100%, 99%);
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 2rem;
  background-color: hsl(5deg, 85%, 63%);
}

.btn:hover {
  color: hsl(36deg, 100%, 99%);
  background-color: hsl(240deg, 100%, 5%);
}

.title {
  color: hsl(240deg, 100%, 5%);
  font-weight: 700;
}

.gridlayout {
  width: 100%;
  margin-top: 8.5rem;
  display: grid;
  gap: 2rem;
  grid-template: "main main main" auto "aside aside aside" auto "relevant relevant relevant" auto/1fr 1fr 1fr;
}

/*Main content*/
main {
  grid-area: main;
}

.featured .actions {
  margin-top: 1rem;
}

/*Aside content*/
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  background-color: hsl(240deg, 100%, 5%);
  padding: 1.5rem;
}
aside .aside-title {
  font-size: 1.75rem;
  color: hsl(35deg, 77%, 62%);
}
aside a {
  display: inline-block;
  color: hsl(36deg, 100%, 99%);
  font-size: 1rem;
  margin-bottom: 1rem;
}
aside a:hover {
  color: hsl(35deg, 77%, 62%);
}

/*relevant posts content*/
.relevant-posts {
  margin-top: 2rem;
  grid-area: relevant;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}
.relevant-posts article {
  display: grid;
  grid-template: "img content content" 7.75rem/1fr 1fr 1fr;
  gap: 1rem;
}
.relevant-posts article > img {
  grid-area: img;
}
.relevant-posts article .content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.relevant-posts article .counter {
  display: block;
  margin: 0;
  line-height: 1;
  font-size: 2rem;
  color: hsl(233deg, 8%, 79%);
  font-weight: 700;
}
.relevant-posts article a:hover {
  color: hsl(5deg, 85%, 63%);
}

@media (min-width: 768px) {
  .gridlayout {
    grid-template: "main main aside" auto "main main aside" auto "relevant relevant relevant" auto/1fr 1fr 1fr;
  }
  .featured {
    display: grid;
    gap: 2.5rem;
    grid-template: "img img" 50% "title text" 50%/1fr 1fr;
  }
  .featured picture {
    grid-area: img;
  }
  .featured h1 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 0.05rem;
    font-weight: 800;
    grid-area: title;
  }
  .featured .featured-text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  aside {
    grid-area: aside;
  }
  /*relevant posts content*/
  .relevant-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1110px;
  }
}
/*Navigation bar*/
.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(36deg, 100%, 99%);
}

.navbar-logo {
  height: 2rem;
}

img.logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.navbar-toggle {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url("/assets/images/icon-menu.svg") no-repeat;
  background-position: center;
  transition: 0;
}

.navbar-toggle.active {
  background: url("/assets/images/icon-menu-close.svg") no-repeat;
}

.navbar-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 5rem;
  right: -100%;
  width: 80%;
  height: calc(100vh - 5rem);
}

.navbar-menu.active {
  visibility: visible;
  opacity: 1;
  right: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(36deg, 100%, 99%);
  z-index: 100;
}

.navbar-menu.active::before {
  content: "";
  position: absolute;
  inset: 0;
  left: calc((100vw - 100%) * -1);
  width: calc(100vw - 100%);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.navbar-item {
  list-style: none;
}

.navbar-link {
  padding: 0.5rem;
  font-size: 1rem;
  color: hsl(236deg, 13%, 42%);
  border-bottom: 2px solid transparent;
}

.navbar-link:hover {
  color: hsl(5deg, 85%, 63%);
  border-bottom: 2px hsl(5deg, 85%, 63%) solid;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-menu.active,
  .navbar-menu {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: auto;
    background-color: hsl(0deg, 0%, 100%);
  }
}/*# sourceMappingURL=style.css.map */