$clrsoftorange: hsl(35, 77%, 62%);
$clrsoftred: hsl(5, 85%, 63%);

$clroffwhite: hsl(36, 100%, 99%);
$clrgrayishblue: hsl(233, 8%, 79%);
$clrdarkgrayishblue: hsl(236, 13%, 42%);
$clrverydarkblue: hsl(240, 100%, 5%);
$clrwhite: hsl(0, 0%, 100%);

$fwregular: 400;
$fwbold: 700;
$fwextrabold: 800;

$clrtitletext: $clrverydarkblue;
$clrtitleinvert: $clroffwhite;
$clrgeneraltext: $clrdarkgrayishblue;
$clrmainbg: $clroffwhite;
$clrasidebg: $clrverydarkblue;
$generalaccent: $clrsoftred;
$clrasideaccent: $clrsoftorange;